<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group3.piggybank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChartActivity"
            android:label="@string/title_activity_chart"
            android:parentActivityName=".TransactionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="group3.piggybank.TransactionListActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".AddTransactionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="group3.piggybank.AddTransactionActivity" />
        </activity>
        <activity
            android:name=".ViewTransactionActivity"
            android:label="@string/title_activity_view_transaction"
            android:parentActivityName=".TransactionListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="group3.piggybank.TransactionListActivity" />

        <activity
            android:name=".AddTransactionActivity"
            android:label="@string/title_activity_add_transaction"
            android:launchMode="singleTop"
            android:parentActivityName=".TransactionListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="group3.piggybank.TransactionListActivity" />
        </activity>
        <activity
            android:name=".TransactionListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>